:root {
    --background-color: #333;
    --main-color: rgb(138, 43, 226);
    --alpha-color: rgba(255, 255, 255, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.load {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load div {
    position: relative;
}

.load div::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: dotted;
    border-width: 10px;
    border-top-color: var(--main-color);
    border-right-color: var(--alpha-color);
    border-bottom-color: var(--alpha-color);
    border-left-color: var(--alpha-color);
    animation: up-down 1.5s linear infinite;
}

.load div::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 10px dotted var(--main-color);
    animation: loading .5s linear infinite reverse;
}

@keyframes up-down {
    0% {
        transform: rotate(0deg) scale(.4);
    }

    25% {
        border-top-color: var(--background-color);
        border-right-color: var(--main-color);
    }
    
    50% {
        transform: rotate(.5turn) scale(1.3);
        border-right-color: var(--background-color);
        border-bottom-color: var(--main-color);
    }
    
    75% {
        border-bottom-color: var(--background-color);
        border-left-color: var(--main-color);
    }
    
    100% {
        transform: rotate(1turn) scale(.4);
        border-left-color: var(--background-color);
        border-top-color: var(--main-color);
    }
}

@keyframes loading {
    25% {
        border-top-color: var(--background-color);
        border-right-color: var(--main-color);
    }
    
    50% {
        border-right-color: var(--background-color);
        border-bottom-color: var(--main-color);
    }
    
    75% {
        border-bottom-color: var(--background-color);
        border-left-color: var(--main-color);
    }
    
    100% {
        transform: rotate(1turn);
        border-left-color: var(--background-color);
        border-top-color: var(--main-color);
    }
}


